# Python Sanal Ortamı
bot/.venv/
__pycache__/

# Veritabanı dosyaları (Bunlar Render Diskte olmalı)
*.sqlite
*.sqlite3

# Node.js bağımlılıkları (Render bunları kendi kurar)
node_modules/

# Mac/Windows sistem dosyaları
.DS_Store